//Colors
$social-bar-color: black;
$social-bar-text-color: white;

$sidebar-background-color: white;
$sidebar-hover-link-color: cyan;
$sidebar-hover-inactive-link-color: darkcyan;

$card-text-color: white;
$card-background-color: grey;
$card-hover-text-color: black;

$tag-background-color: magenta;
$tag-text-color: darkmagenta;
$tag-active-background-color: cyan;
$tag-active-text-color: darkcyan;

$footer-background-color: black;
$footer-text-color: white;
$footer-decoration-color: white;
$footer-heart-color: #ff3172;

//Social Colors
$color-facebook: #39549d;
$color-instagram: #a933b0;
$color-tumblr: #0080a2;
$color-vk: #2da7e0;
